body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.title {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #00ff88;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.red {
  background: #ff4444;
}

.gray {
  background: #666;
}
